* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* Свойства для сброса начальных стилей элементов */
}

body {
    font-family:"Inter", sans-serif;
    color: #303030;
}

header {
    width: 1440px;
    height: 70px;
    background-color: #2965f1;
    padding:23px 0;
    /* Стили для хедера */
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
    min-height: 100vh;
    /* Стили для первой секции */
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px ;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* Стили для текста в первой секции */
}

.main-image {
    max-width:715px;
    /* Стили для изображения в первой секции */
}


.about-section {
    background-color: #fff;
    padding: 100px 0;
    /* Стили для второй секции */
}

select {
    width: 150px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    padding: 10px 10px;
    color: rgba(48, 48, 48, 0.8);
    appearance: none;
    background-image: url(/homework/hw.09.03/assets/Vector.png);
    background-repeat: no-repeat;
    background-position: right center ;

    /* Стили для выпадающего списка */
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    font-weight: 400;
    font-size: 16px;
    list-style-image: url(/homework/hw.09.03/assets/VectorRight.png);
    padding:0 20px ;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    /* Стили для нумерованного списка во второй секции */
}

.label {
    font-weight: 400;
    font-size: 16px;
    /* Стили для подписей чекбоксов */
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    /* Стили для односточного поля ввода текста */
}

.btn {
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none;
    /* Стили для кнопки */
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    margin: 60px 0;
    /* Стили для линии */
}

table {
    border: 1px solid #95a1bb;
    border-collapse: collapse;
    font-weight: 400;
    font-size: 14px;
    /* Стили для таблицы */
}

th, td {
    padding: 12px 15px;
    /* Стили для ячеек таблицы */
}

footer {
    width: 1440px;
    height: 70px;
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
    /* Стили для футера */
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
    /* Стили для футера */
}